/***=======================
	base element styles
	======================*/

* {

	box-sizing: border-box;
}

body {
    margin:0;
    padding:0;
    background: #00aa8d;   
    text-align:center; /* used to center div in IE */
    font-family: 'Special Elite', cursive;
    line-height: 1.6;

}

img {
    max-width: 100%;
    height: auto;


}

.container {
    max-width: 1000px;
    margin: 0 auto; /*centers the div horizontally in all browsers (except IE)*/
    background: #000;
    text-align: center; /*resets text alignment from body tag */
    /*border :none;*/
    padding-bottom: 30px;
    border: #00aa8d 10px solid;
    

}


.search-bar {
    width: 600px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    border: none;

  /*  display: inline-flex;*/ /*testing css styles */
    /*max-width: 425px;*/
   /* flex: 1 1 344px;*/
   /* border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
    margin-top: 20px;*/
   
}


.searchTerm {
    border: 0;
    width: 50%;
    font-size: 16px;
    height: 40px;
    /*padding: 10px 30px;*/
/*    flex: 1;*/
    font-family: inherit;
    border-radius: 10px;
    padding-left: 30px;
 }



#gallery {
    display: flex;     
    flex-flow: row wrap;
    align-content: flex-start;
    justify-content: space-between;
    margin-right: 30px;
    list-style: none;
  }

#gallery img {
     border-radius: 15px;
    padding: 10px;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    -webkit-transition: .2s ease-in-out;
    transition: .2s ease-in-out;
}
#gallery img:hover {
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
    transform: scale(1.05);
}


/********************************************
            MEDIA QUERY FOR MOBILE
********************************************/


@media (max-width: 600px) {


 .search-bar {
    width: 80% ;
   
}

.searchTerm {
    font-family: inherit;
    width: 60%;
    font-size: 14px;
    text-align: center;
    padding-left: 5px;
      
}

#gallery {

    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: auto;
    margin-left: 30px;

}


